#backgrounds {
    width: auto;
    margin: auto;
    display: block;
}
.intro-background {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    max-width: 1920px;
    min-width: 1366px;
    width: 100%;
    height: 1080px;
    margin: auto;

    z-index: -1;
    display: inline-block;
    position: absolute;
}
.service-background {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    max-width: 1920px;
    min-width: 1366px;
    height: 100%;
    width: 100%;
    margin: auto;

    z-index: -2;
    display: inline-block;
    position: absolute;
}

.featured-background {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    max-width: 1920px;
    min-width: 1366px;
    width: 100%;
    height: 1400px;
    margin: auto;

    z-index: -1;
    display: inline-block;
    position: absolute; 
}


.join-us-background {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1920px;
    min-width: 1366px;
    width: 100%;
    height: 105%;

    position: absolute;
    z-index: -1;
}


.footer-background {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    max-width: 1920px;
    min-width: 1366px;
    width: 100%;
    max-height: 800px;
    margin: auto;

    z-index: -1;
    display: inline-block;
    position: absolute;
}

/* ABOUT US */
.about-background {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    max-width: 1920px;
    min-width: 1366px;
    width: 100%;
    margin: auto;
    filter: brightness(100%);
    z-index: 1;
    display: inline-block;
    position: absolute;
}

/* CONTACT US */
.contact-background {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    max-width: 1920px;
    min-width: 1366px;
    width: 100%;
    margin: auto;
    filter: brightness(100%);
    z-index: 1;
    display: inline-block;
    position: absolute;
}

/* PRODUCT */
.product-main-00 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-width: 900px;
    max-width: 900px;
    width: 100%;
    margin: auto;
    filter: brightness(100%);
    z-index: -1;
    display: inline-block;
    position: absolute;
}

.product-main-01 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-width: 900px;
    max-width: 900px;
    width: 100%;
    height: 400px;
    margin: auto;
    filter: brightness(100%);
    z-index: -1;
    display: inline-block;
    position: absolute;
}