.subscribe {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 5% 15%;
    background-color: #E9ECE6;
    align-items: center;
    height: 100%;

}

.subscribe-container-title {
    margin-bottom: 3%;
    padding: auto;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    font-size: 1.8em;
    color: #000;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    text-align: justify;
}

.subscribe-container-description {
    text-align: center;
    margin-bottom: 5%;
    padding: auto;
    color: #000;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1em;
    letter-spacing: 0.05em;
    line-height: 1.5em;
    width: 400px;
    z-index: 5;
}

.enterEmail {
    margin-bottom: 8%;
    border: none;
    padding: 3% 4%;
    width: 400px;
}

.subscribe-description {
    text-align: justify;
    margin-bottom: 4%;
    padding: auto;
    color: #000;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 0.9em;
    letter-spacing: 0.05em;
    line-height: 1.5em;
    width: 680px;
    z-index: 5;
}

.subscribe-button {
    margin: auto;
    padding: auto;
    text-align: center;
    display: inline-block;
    position: relative;
    width: 100%;
}

.subscribe-button button {
    font-size: 0.9em;
    font-weight: 500;
    padding: 10px 30px;
    background-color: #000;
    color: #FFF;
    border: none;
    border-radius: none;
    cursor: pointer;
    transition: all 0.5s ease 0s;
    border: 1.5px #E1BE7B solid;
}

.subscribe-button button:hover {
    color: #000;
    background-color: #FFF;
    border: 1.5px #000 solid;
}